
div.indexAdvSwrap{
    width: 100%;
    min-width: 1180px;
    height: 100%;
    min-height: 600px;
    background-color: #2b0765;
    background-image: url("../images/indexPng");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}
div.indexPageShow{
    width: 1180px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
p.time_site{
    position: absolute;
    bottom: 40%;
    width: 100%;
    text-align: center;
    font-size: 20px;
}
p.time_site i{
    font-size: 18px;
}
div.timebox{
    position: absolute;
    bottom: 100px;
    left: 515px;
}
.time{
    margin-top: 10px;
}
div.timebox p,div.timebox p span{
    text-align: center;
    font-size: 18px;
    color: #ffffff
}
.indexAdvSwrap img{
    position: absolute;
    top: 20px;
    left: 0px;
}
.indexSwrapBox{
    background-color: #000000;
    width: 100%;
}

.indexSwrapBox .indexNavBox{
    position: relative;
    width: 1180px;
    height:60px;
    margin: 0 auto;
    background: url("../images/logoTab.png") no-repeat 10px;
}

.indexSwrapBox .indexNavBox .indexNavUl{
    margin-left: 50px;
    background-color: #000000;
}

.indexSwrapBox .indexNavBox .indexNavUl:after{
    display: block;
    content: "";
    width: 100%;
    clear: both;
}

.indexSwrapBox .indexNavBox .indexNavUl li{
    float: left;
    width: 120px;
    margin-left: 10px;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    line-height: 60px;
}
.customerHeader li p.cName{
    font-weight: bold;
}
.indexContent{
    width: 1180px;
    background-color: #ffffff;
    display: table;
    margin: 0 auto;
}

div.indexPageShow p{
    text-align: center;
    font-size: 18px;
    color: #ffffff
}
.indexContent .indexContentRow{
    display: table-row;
}

.indexContent .indexContentRow div{
    display: table-cell;
    width: 600px;
    height: 400px;
}

div.indexContentRow div.introPng{
    background: url("../images/a breaing.png") no-repeat center;
}
div.indexContentRow div.introContent{
    background: url("../images/b introduction.png") no-repeat center;
}

div.mainContent{
    width: 1180px;
    padding-top: 40px;
    margin: 0 auto;
}

div.mainContent div.conferenceLight{
    position: relative;
    width: 800px;
    margin: 0 auto;
    border-top: 1px solid #960fa7;
}

div.mainContent div.conferenceLight div.conferenceLightContent{
    position: absolute;
    width: 200px;
    height: 40px;
    line-height: 40px;
    top: -20px;
    left: 300px;
    /*text-align: center;*/
    background-color: #960fa7;
    border-radius: 20px;
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 2px;
}
div.mainContent div.conferenceLight div.conferenceLightContent span{
    font-size: inherit;
    display: inline-block;
    margin-left: 30px;
}
.customerTalk{
    width: 1180px;
    margin: 0 auto;
}
.customerTalk p{
    text-align: center;
    font-size: 28px;
}
.customerHeader:after{
    content: "";
    width: 100%;
    clear: both;
    display: block;
}
.customerHeader li{
    padding: 10px 0;
    float: left;
    width: 25%;
    text-align: center;
}
.customerHeader li img{
    width: 155px;
    height: 155px;
    vertical-align: top;
}

.customerHeader li p{
    font-size: 18px;
    color: #333;
    padding: 2px 0;
}

.addShow{
    width: 200px;
    margin: 4px auto;
    font-size: 20px;
    border: 1px solid #666;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 0px !important; 
    left: 130px !important;
    width : auto !important;
    font-size: 18px !important;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction span{
    margin: 0px !important;
}
.footer{
    background-color: #000000;
    min-width: 1180px;
    padding: 20px 0px;
    margin-top: 40px;
}
.footer footer{
    width: 1180px;
    margin: 0 auto;
}
.footer footer div.footerCall{
    width: 680px;
    float: left;
}
.footer footer:after{
    content:"";
    width: 100%;
    display: block;
    clear: both;
}
.footer footer div.footsite{
    width: 500px;
    float: right;
}
.footer footer div.footerCall{
    background:url("../images/call.png") no-repeat;
}
.footer footer div.footerCall p,.footer footer div.footsite p{
    color: #ffffff;
    font-size: 18px;
    padding-left: 70px;
}

p.footerTime{
    line-height: 50px;
    background: url("../images/time.png") no-repeat;
}
p.footerDress{
    margin-top: 10px;
    line-height: 50px;
    background: url("../images/site.png") no-repeat;
}
div.swiper-wrapper div.swiper-slide{
    text-align: center;
}
div.swiper-wrapper div.swiper-slide img{
    width:80%;
}